= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :email, class: "label-control"
    = f.text_field :email, class: "form-control"
  .form-group
    = f.label :name, class: "label-control"
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :project_ids, class: "label-control"
    = f.select :project_ids, options_from_collection_for_select(Project.all, :id, :name, selected: @user.project_ids), {},
      {multiple: true, class: "form-control"}
  .form-group
    = f.submit class: 'btn btn-primary'
