%h1 Listing sprints

%table
  %tr
    %th Start
    %th End
    %th
    %th
    %th

  - @sprints.each do |sprint|
    %tr
      %td= sprint.start
      %td= sprint.end
      %td= link_to 'Show', sprint
      %td= link_to 'Edit', edit_sprint_path(sprint)
      %td= link_to 'Destroy', sprint, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sprint', new_sprint_path
