= wicked_pdf_stylesheet_link_tag    "application"
= wicked_pdf_javascript_include_tag "application"
= wicked_pdf_javascript_include_tag 'report'
= wicked_pdf_stylesheet_link_tag 'report'

.row
  .col-lg-12
    %table.table.table-condensed.table-striped.table-hover
      %tr
        %th Project
        %th Name
        %th Velocity
        %th User

      - @sprints.each_with_index do |sprint, index|
        %tr.info.nobreak
          %td{colspan: 5}= sprint_info params[:from], params[:sprint_size], index + 1
        - sprint.tickets.where(@conditions).complete.each do |ticket|
          %tr
            %td{style: "color: #{ticket.project_color}"}= ticket.project_name
            %td= ticket_link_or_name(ticket)
            %td= '%.2f' % ticket.velocity
            %td= friendly_user_name ticket.user
        - if sprint.tickets.empty?
          %tr.error
            %td{colspan: 5}
              = 'No tickets for this sprint!'
        - else
          %tr.success
            %td= 'Summary'
            %td= "Points: #{sprint.total_estimate(@conditions)}"
            %td= "Hours: #{sprint.total_hours(@conditions)}"
            %td= "Velocity: #{'%.2f' % sprint.total_velocity(@conditions)} p/h"
            %td
#chart_data{ data: get_chart_data(@sprints) }
.row.nobreak.extra_padding
  .col-lg-12
    #hours_per_project
.row.nobreak.extra_padding
  .col-lg-12
    #hour_distribution
.row.nobreak.extra_padding
  .col-lg-12
    #points_per_project
.row.nobreak.extra_padding
  .col-lg-12
    #points_distribution
.row.nobreak.extra_padding
  .col-lg-12
    #velocity_per_project
.row.nobreak.extra_padding
  .col-lg-12
    #tickets_per_project
