%p#notice= notice

%p
  %b Start:
  = @sprint.start
%p
  %b End:
  = @sprint.sprint_end

%p
  %b Target Points:
  = @sprint.target_points

= link_to 'Edit', edit_sprint_path(@sprint)
\|
= link_to 'Back', sprints_path
