= form_for @ticket do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :project_id
    = f.select :project_id, options_from_collection_for_select(@projects, :id, :name)
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :estimated_hours
    = f.number_field :estimated_hours
  .field
    = f.label :real_hours
    = f.number_field :real_hours
  .field
    = f.label :points
    = f.number_field :points
  .field
    = f.label :user_id
    = f.select :user_id, options_from_collection_for_select(User.all, :id, :name)
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
