%table.table.table-condensed.table-striped.table-hover
  %tr
    %th Project
    %th Name
    %th Estimated hours
    %th Real hours
    %th User
    %th

  - @tickets.each do |ticket|
    %tr
      %td{ style: "color: #{ticket.project_color}" }= ticket.project_name
      %td= ticket_link_or_name(ticket)
      %td.estimated_hours= best_in_place ticket, :estimated_hours, type: :input, nil: 'In Progress'
      %td.real_hours= best_in_place ticket, :real_hours, type: :input, nil: 'In Progress'
      %td= friendly_user_name ticket.user
      %td
        = link_to 'Destroy', ticket, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn destroy btn-danger'
