- dashboard ||= false

.table-name.green-border
  = dashboard ? '#PendingTickets' : '#AllTickets'

%br
%br

%table#pending{'data-path' => (dashboard ? pending_tickets_path : nil)}
  %tr
    %th.project-row
      Project
    %th.name-row
      Name
    - unless dashboard
      %th.sprint-row
        Sprint
    %th.points-row
      Points
    %th.hours-row
      Real hours
    %th.user-row
      User
    %th.control-row

  - @tickets.each do |ticket|
    %tr
      %td
        %i.icon-circle{style: "color: #{ticket.project.color}"}
        = ticket.project_name
      %td= ticket_link_or_name(ticket)
      - if dashboard
        %td{class: ticket_class(ticket), data: {path: estimates_ticket_path(ticket)}}= ticket.points || content_tag(:span, 'pending', title: estimated_by(ticket))
      - else
        %td.sprint= best_in_place ticket, :sprint_id, type: :select, collection: Sprint.sorted.map { |s| [s.id, s.name]} + [['', '(unassigned)']]
        %td.points{class: ticket_class(ticket), data: {path: estimates_ticket_path(ticket)}}= best_in_place ticket, :points, type: :input, nil: 'input points'
      %td.real_hours= best_in_place ticket, :real_hours, type: :input, nil: 'input hours'
      %td.user= best_in_place ticket, :user_id, type: :select, collection: User.all.map {|u| [u.id, u.full_name]} + [['', '(unassigned)']], display_with: lambda { |t| friendly_user_name(User.find(t)) }
      %td
        - if dashboard
          = link_to content_tag(:i, "", class: "icon-ticket restimate") + ' Re-estimate', re_estimate_ticket_path(ticket), remote: true, method: :put, class: 'btn btn-primary btn-xs re-estimate'
        = link_to content_tag(:i, "", class: "icon-edit") + ' Edit', edit_ticket_path(ticket), class: 'btn btn-info btn-xs'
        - unless dashboard
          = link_to content_tag(:i, "", class: "icon-remove") + ' Destroy', ticket_path(ticket, params), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn destroy btn-danger btn-xs'
