.table-name.green-border
  = '#AddNewTicket'

%br
%br

= form_for @ticket, remote: true, html: { 'data-type' => 'json' } do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name, class: 'form-control', placeholder: 'Ticket ID'
  = f.select :project_id, options_from_collection_for_select(@projects, :id, :abbreviation)
  %br
  %br
  = f.select :user_id, options_from_collection_for_select(User.all, :id, :name, @ticket.user_id), include_blank: 'Unassigned'
  %br
  %br
  = f.hidden_field :sprint_id, value: @ticket.sprint.try(:id)
  = f.submit 'Save', class: 'button-submit button'
