= form_for @ticket, remote: true do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, class: 'input-small', placeholder: 'Ticket'
  .field
    = f.number_field :estimated_hours, class: 'input-mini', placeholder: 'Estimate'
  .field
    = f.select :project_id, options_from_collection_for_select(@projects, :id, :abbreviation)
  .field
    = f.hidden_field :user_id, value: current_user.id
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
