.big-separator

.row
  .small-7.columns
    .light.panel.radius
      Avances..
  .small-5.columns
    .panel.radius
      = render 'small_form'


.row
  .small-12.columns
    .panel.radius
      - if @pending.any?
        = render partial: 'pending_estimate'
      - else
        .no-tickets
          = image_tag 'beer.png', width: '120px', height: '120px'
          Nice! You don't have any ticket to estimate.

.row
  .small-12.columns
    .light.panel.radius
      = render 'list', dashboard: true

.row
  .small-12.columns
    .light.panel.radius
      = render 'current_sprint'
