.big-separator

.row
  .large-6.columns
    .panel.radius
      - if @pending.any?
        = render partial: 'pending_estimate'
      - else
        .no-tickets
          = image_tag 'beer.png', width: '120px', height: '120px'
          Nice! You don't have any ticket to estimate.
  .large-6.columns
    .light.panel.radius
      .progress-bar-div
        = render partial: 'progress_bar'

.row
  .large-12.columns
    .light.panel.radius
      = render 'list', dashboard: true

.row
  .large-12.columns
    .light.panel.radius
      = render 'current_sprint'

.row
  .large-6.large-offset-6.columns
    .panel.radius
      = render 'small_form'
