= javascript_include_tag 'report'
= stylesheet_link_tag 'report'

%h1.title Reports
.row
  .col-lg-12
    = form_tag report_tickets_path, method: :get, class: "form-inline" do
      .row
        %h5.col-lg-1 Filter
        .col-lg-3= text_field_tag :from, @from.strftime('%Y-%m-%d'), type: :date, placeholder: 'Start date'
        .col-lg-2= select_tag :sprint_size, options_for_select((1..4).to_a, @sprint_size), class: 'input-small'
        .col-lg-3= select_tag :project, options_from_collection_for_select(Project.all, :id, :name, params[:project]), prompt: '(Filter Project)'
        .col-lg-3= select_tag :user, options_from_collection_for_select(User.all, :id, :name, params[:user]), prompt: '(Filter User)'
.row
  .col-lg-12
    %table.table.table-condensed.table-striped.table-hover
      %tr
        %th Project
        %th Name
        %th Deviation
        %th Error %
        %th User

      - @sprints.each_with_index do |sprint, index|
        %tr.info
          %td{colspan: 5}= sprint_info params[:from], params[:sprint_size], index + 1
        - sprint.tickets.each do |ticket|
          %tr
            %td{style: "color: #{ticket.try :project_color}"}= ticket.project_name
            %td= ticket_link_or_name(ticket)
            %td= ticket.deviation
            %td= ticket.percent_error
            %td= friendly_user_name ticket.user
        - if sprint.tickets.empty?
          %tr.error
            %td{colspan: 5}
              = 'No tickets for this sprint!'
        - else
          %tr.success
            %td= 'Summary'
            %td= "Tot / Est: #{sprint.total_hours}/#{sprint.total_estimate}"
            %td= "Deviation: #{sprint.total_deviation}"
            %td= "Error: #{sprint.total_error_to_s}%"
            %td
.row
  .col-lg-12
    #error{data: {error: [@sprints.collect(&:total_error)]} }
    #deviation{data: {deviation: [@sprints.collect(&:total_deviation)]}}
