= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :type, 'Project Type'
    = f.select :type, [['Other', ''], ['Jira', 'Jira::Project']]
  .field
    = f.label :abbreviation
    = f.text_field :abbreviation
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :color
    = f.text_field :color, type: 'color'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
