= form_for @project, :html => {class: "form-horizontal"} do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: "col-lg-2 control-label"
    .col-lg-8= f.text_field :name, class: "form-control"
  .form-group
    = f.label :type, 'Project Type', class: "col-lg-2 control-label"
    .col-lg-8= f.select :type, Project::PROJECT_TYPES
  .form-group
    = f.label :abbreviation, class: "col-lg-2 control-label"
    .col-lg-8= f.text_field :abbreviation, class: "form-control"
  .form-group
    = f.label :min_estimates, class: "col-lg-2 control-label"
    .col-lg-8= f.text_field :min_estimates, class: "form-control"
  .form-group
    = f.label :url, class: "col-lg-2 control-label"
    .col-lg-8= f.text_field :url, class: "form-control"
  .form-group
    = f.label :color, class: "col-lg-2 control-label"
    .col-lg-2= f.text_field :color, type: 'color', class: "form-control"
  .col-lg-offset-2
    = f.submit 'Save', class: 'panel boton-verde'
