<!DOCTYPE html>
%html
%head
  %title Iepc
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  - if current_user
    .navbar
      .navbar-inner
        %a.brand{href: "#"}
        %ul.nav
          %li= link_to 'Home', :root
          %li= link_to 'Users', users_path
          %li= link_to 'Tickets', tickets_path
          %li= link_to 'Projects', projects_path
          %li= link_to 'Reports', report_tickets_path
        %ul.nav.pull-right
          %li
            %span.user-name= current_user.full_name
          %li= link_to 'Sign Out', destroy_session_path(current_user), method: :delete
  .row.row-fluid.span9
    - if notice
      %p.alert.alert-info= notice
    - if alert
      %p.alert.alert-error= alert

    = yield
