<!DOCTYPE html>
%html
%head
  %title IEPC
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body{ :class => ( (controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords')? "landing" : "logged" ) }
  - if current_user
    %div
      .navbar
        .container
          %a.navbar-brand{href: "#"}
            #iepc
          %ul.nav.navbar-nav
            %li= link_to content_tag(:i, "", class: "icon-home")+' Home', :root
            %li= link_to content_tag(:i, "", class: "icon-ticket")+' My Estimates', user_ticket_estimates_path(user_id: current_user.id)
            %li= link_to content_tag(:i, "", class: "icon-ticket")+' All Estimates', user_ticket_estimates_path
            %li= link_to content_tag(:i, "", class: "icon-user")+' Users', users_path
            %li= link_to content_tag(:i, "", class: "icon-ticket")+' Tickets', tickets_path
            %li= link_to content_tag(:i, "", class: "icon-archive")+' Projects', projects_path
            %li= link_to content_tag(:i, "", class: "icon-file-text")+' Reports', report_tickets_path
          %ul.nav.navbar-nav.pull-right
            %li= link_to current_user.full_name, :root
            %li= link_to content_tag(:i, "", class: "icon-signout")+' Sign Out', destroy_session_path(current_user), method: :delete
  .container
    %div= yield
